.container {
  display: flex;
  flex-flow: row;
}
.container .main-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 2rem;
  width: 55rem;
}
@media (max-width: 500px) {
  .container .main-content {
    margin: 0 1rem;
    max-width: 90vw;
    font-size: 0.8rem;
    height: 90vh;
    justify-content: space-between;
  }
}
.container .main-content .latitude-longitude {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 0;
  color: #6B6B6B;
}
@media (max-width: 500px) {
  .container .main-content .latitude-longitude {
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 7rem;
    order: 2;
  }
}
.container .main-content .latitude-longitude .latitude,
.container .main-content .latitude-longitude .longitude {
  padding: 1rem;
  border: none;
  background: #E5E5E5;
  width: 23rem;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .container .main-content .latitude-longitude .latitude,
  .container .main-content .latitude-longitude .longitude {
    width: 80vw;
  }
}
.container .main-content .button {
  padding: 1rem;
  border: none;
  background: #278BFF;
  color: white;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.container .main-content .button:hover, .container .main-content .button:active {
  background: #007cff;
}
@media (max-width: 500px) {
  .container .main-content .search-button {
    order: 3;
  }
}
@media (max-width: 1100px) {
  .container .main-content .save-button {
    display: none;
  }
}
.container .main-content .data-area {
  display: flex;
  flex-flow: column;
  background: #E5E5E5;
  width: 100%;
  margin: 2rem 0;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .container .main-content .data-area {
    margin-bottom: 0;
    height: 50vh;
    justify-content: space-between;
    padding-bottom: 20px;
  }
}
.container .main-content .data-area .data {
  height: 3rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 2rem;
}
@media (max-width: 500px) {
  .container .main-content .data-area .data {
    padding: 0 1rem;
  }
}
.container .main-content .data-area .data .label {
  width: 10%;
}
@media (max-width: 500px) {
  .container .main-content .data-area .data .label {
    width: 30%;
  }
}
.container .main-content .data-area .data .dash {
  width: 20%;
  text-align: center;
}
@media (max-width: 500px) {
  .container .main-content .data-area .data .dash {
    width: 10%;
  }
}
.container .main-content .data-area .data .description {
  word-wrap: break-word;
  width: 70%;
  font-weight: bolder;
}
.container .main-content .data-area .street {
  height: 5.5rem;
}
.container .saved-history {
  display: flex;
  flex-flow: column;
  width: 30rem;
  max-height: 35rem;
  margin: 2rem 2rem 0 2rem;
  background: #E5E5E5;
  border-radius: 10px;
  overflow-y: auto;
}
@media (max-width: 1100px) {
  .container .saved-history {
    display: none;
  }
}
.container .saved-history .index {
  text-align: center;
  color: #6B6B6B;
}
.container .saved-history .entry {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #D9D9D9;
  margin: 1rem;
}
.container .saved-history .entry .data {
  margin: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.container .saved-history .entry .data .lat,
.container .saved-history .entry .data .long {
  width: 12rem;
}
.container .saved-history .entry .note-taking {
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  width: 24rem;
  height: 3rem;
  border: none;
  resize: none;
}

/*# sourceMappingURL=style.css.map */
